<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>534751504438-dh2nrh24eg271tmdf9lmu1c5i32q4dss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534751504438-dh2nrh24eg271tmdf9lmu1c5i32q4dss</string>
	<key>API_KEY</key>
	<string>AIzaSyC0a66bnXTHULhNGRWTgGfS3It3Q6HtzDU</string>
	<key>GCM_SENDER_ID</key>
	<string>534751504438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ans.bot</string>
	<key>PROJECT_ID</key>
	<string>netty-54918</string>
	<key>STORAGE_BUCKET</key>
	<string>netty-54918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534751504438:ios:a9cd3b19556d7b01</string>
	<key>DATABASE_URL</key>
	<string>https://netty-54918.firebaseio.com</string>
</dict>
</plist>